<p><strong>%app_name% is reporting a status change.</strong></p>
<p>The following status change has occurred:</p>
<table style="border-collapse: collapse;">
   <tr>
      <th style="padding:8px; text-align:left; font-size:16px;">Service:</th>
      <td style="padding:8px; text-align:left; font-size:16px;">%servicename%</td>
   </tr>
   <tr>
      <th style="padding:8px; text-align:left; font-size:16px;">Old Status:</th>
      <td style="padding:8px; text-align:left; font-size:16px;">%oldstatus%</td>
   </tr>
   <tr>
      <th style="padding:8px; text-align:left; font-size:16px;">New Status:</th>
      <td style="padding:8px; text-align:left; font-size:16px;">%newstatus%</td>
   </tr>
   <tr>
      <th style="padding:8px; text-align:left; font-size:16px;">Time:</th>
      <td style="padding:8px; text-align:left; font-size:16px;">%timestamp%</td>
   </tr>
</table>

