<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td style="color: #153643; font-family: sans-serif; font-size: 16px; line-height: 22px;">
      <p>Dies ist die Aktivierungs E-Mail f&uuml;r Dein Konto bei:<br><a href="%site_url%">%site_url%</a></p>
      <p>Wenn Du Dich auf dieser Website nicht registriert hast, kannst Du diese E-mail ignorieren.</p>
      <p>Um Dein Konto zu aktivieren klicke den folgenden Button.</p>
      <table border="0" cellspacing="0" cellpadding="0" bgcolor="#0060b0">
        <tbody>
        <tr>
          <td style="font-family: sans-serif; font-size: 18px; font-weight: bold; padding: 0 30px 0 30px; text-align: center; height:44px;">
            <a style="color: #ffffff; text-decoration: none;" href="%site_url%activate-account?token=%token%">Aktiviere Dein Konto</a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
