<p><strong>%app_name% meldet eine Status&auml;nderung.</strong></p>
<p>Die folgende Status&auml;nderung hat stattgefunden:</p>
<table style="border-collapse: collapse;">
   <tr>
      <th style="padding:8px; text-align:left; font-size:16px;">Service:</th>
      <td style="padding:8px; text-align:left; font-size:16px;">%servicename%</td>
   </tr>
   <tr>
      <th style="padding:8px; text-align:left; font-size:16px;">Alter Status:</th>
      <td style="padding:8px; text-align:left; font-size:16px;">%oldstatus%</td>
   </tr>
   <tr>
      <th style="padding:8px; text-align:left; font-size:16px;">Neuer Status:</th>
      <td style="padding:8px; text-align:left; font-size:16px;">%newstatus%</td>
   </tr>
   <tr>
      <th style="padding:8px; text-align:left; font-size:16px;">Uhrzeit:</th>
      <td style="padding:8px; text-align:left; font-size:16px;">%timestamp%</td>
   </tr>
</table>

