<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td style="color: #153643; font-family: sans-serif; font-size: 16px; line-height: 22px;">
      <p>Jemand hat f&uuml;r Deine E-Mail das Zur&uuml;cksetzen des Passworts angefragt f&uuml;r<br><a href="%site_url%">%site_url%</a> angefragt.</p>
      <p>Dein Token zum Zur&uuml;cksetzen ist:</p>
      <p>%token%</p>
      <p>Wenn du das Zur&uuml;cksetzen nicht angefragt hast, kannst du diese Email ignorieren.</p>
      <p>Ansonsten klicke den Button um dein Passwort zur&uuml;zucksetzen.</p>
      <table border="0" cellspacing="0" cellpadding="0" bgcolor="#0060b0">
        <tbody>
        <tr>
          <td style="font-family: sans-serif; font-size: 18px; font-weight: bold; padding: 0 30px 0 30px; text-align: center; height:44px;">
            <a style="color: #ffffff; text-decoration: none;" href="%site_url%reset-password?token=%token%">Passwort zur&uuml;cksetzen</a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
