<table style="border-collapse: collapse; width: 100%; background-color: #fafafa;">
  <tbody>
  <tr>
    <td>
      <table style="width: 700px; border-collapse: collapse; text-align: center;" align="center">
        <tbody>
        <tr>
          <td>
            <table style="max-width: 700px; width: 100%; background-color: white; color: black; border-collapse: collapse; text-align: left;" align="left">
              <tbody>
              <tr>
                <td style="padding: 40px 30px 20px 30px; background-color: #004C8B;">
                  <table style="width: 70px !important; border-collapse: collapse; text-align: left;" align="left">
                    <tbody>
                    <tr>
                      <td style="padding: 0 20px 20px 0;" height="72"><img class="fix" style="height: auto; border: 0;" src="%site_url%/images/icons/app-icon-72.png" alt="" width="72" height="72"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <table style="width: 425px !important; border-collapse: collapse;" align="left">
                    <tbody>
                    <tr>
                      <td>
                        <table style="max-width: 525px; width: 100%; border-collapse: collapse;" align="left">
                          <tbody>
                          <tr>
                            <td height="70">
                              <table style="width: 100%; border-collapse: collapse;" align="left">
                                <tbody>
                                <tr>
                                  <td style="color: #ffffff; font-family: sans-serif; font-size: 18px; letter-spacing: 5px; padding: 0 0 0 3px;">%app_name%</td>
                                </tr>
                                <tr>
                                  <td style="color: #fff; font-family: sans-serif; font-size: 28px; font-weight: bold; line-height: 38px; padding: 5px 0 0 0;">%summary%</td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid #f2eeed; padding: 30px 30px 30px 30px; text-align: left;">
                  <table style="width: 100%; border-collapse: collapse;" align="left">
                    <tbody>
                    <tr>
                      <td style="color: #153643; font-family: sans-serif; font-size: 20px; font-weight: bold; line-height: 28px; padding: 0 0 15px 0;">
                        %greeting% %recipient%,
                      </td>
                    </tr>
                    <tr>
                      <td style="color: #153643; font-family: sans-serif; font-size: 16px; line-height: 22px;">
                        %message%
                        <p style="text-align: center;">___</p>
                        <span style="font-style: italic;">%signature%</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px 30px 15px 30px;" bgcolor="#44525f">
            <table style="width: 100%; border-collapse: collapse;">
              <tbody>
              <tr>
                <td style="color: #ffffff; font-family: sans-serif; font-size: 12px; font-style: italic;" align="center">%footer_message%</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
